bleachbit/
beets/
cef_user_data/
configstore/
cmus/
dconf/
dleyna-renderer-service.conf
enchant/
eog/
epiphany/
evolution/
gconf/
gedit/
gnome-boxes/
cef_user_data/
configstore/
dconf/
enchant/
eog/
evolution/
gconf/
gedit/
gnome-session/
goa-1.0/
gtk-2.0/
gtk-3.0/
ibus/
iptables.conf
libreoffice/
mimeapps.list
nautilus/
procps/
pulse/
QtProject.conf
qutebrowser/
RStudio/
spotify/
totem/
user-dirs.dirs
user-dirs.locale
xm1/
zoomus.conf
